<template>
  <require from="../title/my-title"></require>
  <div id="syncfusionTabs" style="width: 100%">
    <div>
      <my-title></title>
    </div>
    <ul>
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#shelter">Shelter</a></li>
      <li><a href="#medical">Medical</a></li>
    </ul>
    <div id="shelter" style="background-color: #F5F5F5">
      <ul id="syncfusionMenu"></ul>
    </div>
    <div id="medical" style="background-color: #F5F5F5">
      <ul id="medicalMenu"></ul>
    </div>
  </div>

  <style>
    #medical {
      padding: 0;
    }

    #shelter {
      padding: 0;
    }

    #dashboard {
      padding: 0;
    }
  </style>
</template>

<!--<template>-->
<!--<div id="defaultRibbon"></div>-->
<!--<ul id="animalSplit">-->
<!--<li id="shelterview"><span>Shelter View</span></li>-->
<!--<li id="findanimla"><span>Find Animal</span></li>-->
<!--</ul>-->
<!--<ul id="lostSplit">-->
<!--<li id="lostanimal"><span>Find a lost Animal</span></li>-->
<!--</ul>-->
<!--<style>-->
<!--@font-face {-->
<!--font-family: 'ej-xlfont';-->
<!--src: url('../../../common-images/ribbon/ejrbnicons.eot');-->
<!--src: url('../../../common-images/ribbon/ejrbnicons.eot') format('embedded-opentype'), url('../../../common-images/ribbon/ejrbnicons.woff') format('woff'), url('../../../common-images/ribbon/ejrbnicons.woff') format('woff'), url('../../../common-images/ribbon/ejrbnicons.ttf') format('truetype'), url('../../../common-images/ribbon/ejrbnicons.svg') format('svg');-->
<!--font-weight: normal;-->
<!--font-style: normal;-->
<!--}-->
<!--</style>-->
<!--</template>-->
